header {
    justify-content: center;
    display: flex;
}


section {
    border-radius: 10px;
    background-color: rgb(24, 209, 70);
    color: white;
    display: flex;
    height: 50%;
    align-items: center;
    flex-direction: column;
}

#timer {
    display: flex;
    justify-content: end;
    border-radius: 5px;
    background-color: #D4EAC8;
    color: black;
    padding: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    border: 5px;
    color: black;
    background-color: #D4EAC8;
    margin: 10px;
    margin-right: 45px;
    padding: 10px;
}

.hidden {
    display: none;
}

#timer.hidden {
    display: none;
}